* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #ffc845;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
}

.tachado {
    text-decoration: line-through;
}
header {
    background-color: #279989;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    align-items: flex-end;
}

h1.title-lista {
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
}

a.menu {
    padding-right: 10px;
    color: white;
    text-decoration: none;
    padding-top: 15px;
    text-align: center;
}

section.productos-comprados {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #5fa789;
}
i.fa-solid.fa-circle-plus,
i.fa-solid.fa-circle-minus {
    color: white;
    font-size: 25px;
}
.white {
    color: white;
}
.lista-productos {
    padding: 15px 20px;
}
label {
    display: flex;
    justify-content: space-between;
}
section.total-price {
    padding: 0 20px;
}
p.position-right {
    text-align: right;
}
.sin-tachado {
    text-decoration: none;
}

.formulario {
    padding: 0 20px;
}
[type="submit"] {
    background-color: #279989;
    color: white;
    margin-top: 10px;
}
