* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
}

.tachado {
    text-decoration: line-through;
}
header {
    background-color: #279989;
    padding: 15px 10px;
}
